@model IEnumerable<nnnn.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top: 30px">Tasks</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Title)
            </td>
             @*   <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i> Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-text-center"></i> Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
